{% extends "base.html" %} 
{% load static %}

{% block content %}

<h1>Change Password</h1>

<div class="container">
    
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="form" id="signup_form" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                
                <button class="btn btn-primary btn-sm" type="submit">Change Password</button>
            </form>

        </div>
    </div>

{% endblock %}