{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>signup</h3>

            <p>Welcome back to the Peruse. Do you already have an account? Then please <a class="link"
                    href="{{ login_url }}">sign in</a> instead.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="form-group form" method="POST" action="{% url 'signup' %}">
               
                {% csrf_token %}
                {{ form.as_p }}

                 
                
                <button class="btn btn-primary btn-sm" type="submit">Update</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}
