{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <h1>Add blog post</h1>


    {% if user.is_authenticated %}
    <br /><br />
    <div class="form-group form">

        <form method="POST">

            {% csrf_token %}
            {{ form.as_p }}
            <button>Post!</button>
        </form>

    </div>

    <!--Js to automatically assign correct auther to blog post -->
    <script>
        var name = "{{ user.id }}";
        document.getElementById("user").value = name;
    </script>

</div>
{% else%}

You must be logged in to use this feature!

{% endif %}

{% endblock %}