{% extends "base.html" %} 
{% load static %}

{% block content %}


<h1>Edit your Profile</h1>
{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
        <br /><br />
        <div class="form">
            <div class="form-group">
                <form method="POST">

                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Update Profile</button>
                </form>
            </div>
        </div>

        <!--Js to automatically assign correct auther  -->
        <script>
            var name = "{{ user.id }}";
            document.getElementById("user").value = name;
        </script>
    {% else %}
        You are not the correct user to edit this profile
    {% endif %}   

{% else%}
    You must be logged in to use this feature!

{% endif %}

{% endblock %}